/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';


/*footer start*/

#footer {
  // margin-top: 50px;
  width:100%;
  height:270px;
  position:relative;
  bottom:0;
  left:0;
  background: black;
}

#menu-wrapper { 
  margin: 0 auto;
  height: 200px; 
  width: 100%;
}

h4 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #404040;
  margin-bottom: 10px;
}

.footermenus {
  margin-top: 15px;
  width: 290px;
  float: left;
  text-align: left;
}

#more li, #friends li, #inspiration li {
  display:block;
  font-family: century gothic, futura;
  text-transform: uppercase;
  width: 280px;
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  margin-left: 75px;
}

#more a, #friends a, #inspiration a {
  color: #404040;
}

#more li a:hover, #friends li a:hover, #inspiration li a:hover {
  opacity: .6;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
}


#copyright {
  width: 100%;
  text-align: center;
  clear: both;
  background: #444;
  height: 22px;
}

#copyright p {
  font-family: century gothic, futura;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 8px;
  color: #fff;
  margin: 0;
  padding: 3px;
}

#copyright a {color: #7bf8d6;}

/* footer end */
